/* Estilos adicionales propios como estudiante */
body {
  scroll-behavior: smooth;
}

/* Navbar */
.navbar-brand {
  font-size: 1.2rem;
}

/* Secciones */
section h2 {
  font-weight: 700;
  color: #0d6efd;
  /* azul Bootstrap */
}

/* Footer */
footer {
  font-size: 0.9rem;
}